@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* remove rolagem horizontal */
    font-family: Arial, Helvetica, sans-serif;
}

#niel{
    width: 10%;
    padding-left: 50px;
}

header > div{
    display: flex;
    flex-direction: row;
}

#meuvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#cabecalho {
    width: 100%;
    height: 250px;
}

#cabecalho_flex{
    padding-bottom: 3px;
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    align-items: center;

    background-image: 
        /* O degradê vai de CIMA (topo da borda) para BAIXO (base da borda) */
        linear-gradient(to bottom, 
            /* Começa com a cor neon (opacidade total) */
            rgb(28, 63, 70) 0%, 
            /* Desvanece para o transparente na base */
            transparent 100%
        ), 
        /* Mantém o segundo background para  controle */
        linear-gradient(to top, transparent, transparent);
}

.uern{
    width: 350px;
    height: 140px;
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 35px;
    transition: filter 0.3s, width 0.3s, height 0.3s;
}

.uern:hover{
    filter: drop-shadow(0px 0px 10px rgb(5, 201, 54));
    cursor: pointer;
    width: 380px;
    height: 150px;
}

#texoCabe{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
    color: white;
    font-size: 0.5em;
    width: 550px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
    text-align: center;
    transition: filter 0.3s, font-size 0.3s;
}

#texoCabe:hover{
    filter: drop-shadow(0px 0px 10px rgb(0, 255, 55));
    font-size: 0.51em;
}

#textoCabe > h1{
    font-weight: bolder;
    font-size: 1em;

}

#retornar{
    padding-top: 15px;
    color: white;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#retonaricon{
    width: 30px;
}

.nielpequeno {
    right: 0;
    margin-right: 10px;
    position: absolute;
    border-radius: 50%; 
    
    width: 200px;
    height: 200px;
    
    transition: filter 0.3s, width 0.3s, height 0.3s;
    
    display: block; 
    overflow: hidden; 
}

.nielpequeno:hover {
    filter: drop-shadow(0px 0px 10px rgb(0, 255, 55));
    width: 250px;
    height: 250px;
}

.nielpequeno img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none; 
}

main > div > section > a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 800px;
    margin: auto;      
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(15px);
    border-radius: 25px;

}

main > div > section > a > p{
    transition: filter 0.3s, margin-top 0.3s;
}

main > div > section > a > p:hover{
    margin-top: 5px;
    filter: drop-shadow(3px 3px 20px rgb(1, 225, 255));
}

main > div{
    width: 100%;
    display: flex;
    color: white;
    padding-bottom: 20px;
}



main > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


main  p {
    text-align: justify;
    text-indent: 15px;
    padding-right: 20px;
    margin-bottom: 15px;
    transition: font-size 0.3s;
}


main h1{
    margin-top: 25px;
}

main > div > a > img {
    padding-right: 15px;
}

main img {
    margin: 30px 0px 15px 15px;
    width: 150px;
    height: 100px; 
    display: block; 
    transition: width 0.3s ease-in-out, margin 0.3s ease-in-out, filter 0.3s, padding-top 0.3s; 
}

main img:hover {
    padding-top: 15px;
    filter: drop-shadow(3px 3px 20px rgb(1, 225, 255));
}



main > div > section > a > h1{
    font-size: 1.2em;
    text-align: left;
    text-indent: 10px;
    padding-top: 10px;
    transition: font-size 0.2s, text-shadow 0.2s;
    cursor: pointer;
    text-decoration: none;
}

main > div > section > a > h1:hover{
    font-size: 1.3em;
    text-shadow: 3px 3px rgba(21, 107, 235, 0.842);
}


#principal{
    text-align: center;
    width: 500px;
    height: 1000px;
    border: 2px dashed rgb(81, 255, 0);
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0; 
    background-color: black; 
    color: white; 
}

footer a {
    color: inherit; 
    text-decoration: none; 
    display: inline-block; 
}

footer p {
    font-size: 1.1em;
    color: white; 
    padding: 5px;
    transition: font-size 0.3s; 
}


footer a:hover p {
    text-decoration: underline;
    opacity: 0.9;
    font-size: 1.2em;
}

header a{
    color: white;
}



@media (max-width: 1300px) { 
    #texoCabe {
        display: none;
    }
}

@media (max-width: 710px){
    .nielpequeno{
        display: none;
    }
}